<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace= "~{@{/layout/default} :: head}">
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Menú lateral -->
<div class="sidenav" th:replace= "~{@{/layout/default} :: header}">

</div>

<!-- Contenido -->
<div class="content">
    <div class="container">
        <h1>Como te has sentido..</h1>
         <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Card -->
                <div class="card">
                    <!-- Publicidad-->
                    <img src="https://www.eluniversal.com.mx/resizer/mtAfCjT-LB5ze4cCq6Yj6vTFDXU=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/XSFDXWPLWFEE3IEWVHN2NP3K7U.jpg" class="card-img-top" alt="Imagen de ejemplo" width="200" height="50">
              
                </div>
            </div>
        </div>
    </div>

        <div class="card-deck">
        
            <div th:each="status : ${statuses}" class="card">
             <div class="card-header">
  <h5 class="card-title" th:text="${status.user.name}"></h5>
  </div>
            
                <div class="card-body">
                    
                    <p class="card-text"><span th:text="${status.content}"></span></p>
                    <p class="card-text">Fecha de creación: <span th:text="${status.creationDate}"></span></p>
                </div>
                
                <ul>
        			<li th:each="response : ${status.responses}">
        				<black  th:text="${response.user.name}+': '"></black><div  th:text="${response.content}"></div><span th:text="${response.creationDate}+${status.id}"></span>
        			</li>
    			</ul>
    			
    			<div id="dataContainer" th:fragment="dataFragment"></div>
    			<form th:id = "'responseForm'+${status.id}" th:object="${response}">
    			<input type = "hidden" th:id="'responseStatus'+${status.id}" th:field = "${response.status}" th:value = "${status}">
    			<input type = "text" id="responseContent+${status.id}"  th:field = "${response.content}">
			<!--	<input type="hidden" id="responseCreationDate+${status.id}" th:field="${response.creationDate}" th:value="2024/04/14">-->    			
    			</form>
    			 <button id="dataUpdate" onclick = "addResponse()" >Comentar</button>
            </div>
           
            
        </div>
    </div>
</div>
<script>
function addResponse() {
    var formData = $("#responseForm").serialize(); // Obtener los datos del formulario
    $.ajax({
    
        url: "/addResponse",
        type: "POST", // Utilizar el método POST para enviar datos del formulario
        data: formData,
        success: function(data) {
            
            console.log("Respuesta del servidor:", data);
        },
        error: function(xhr, status, error) {
            // Manejar errores aquí
            console.error("Error al enviar la solicitud:", error);
        }
    });
}

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>